/CA2/nbproject/private/
/CA2-Server/nbproject/private/
/CA2-Client/CA2-Client/nbproject/private/
/CA2-Client/nbproject/private/
/CA2-Client/build/
/CA2-Client/nbproject/private/
/CA2-Server/build/
/CA2-Doc/nbproject/private/
/CA2-Client/dist/
/CA2-Server/dist/
/CA2-Documentation/nbproject/private/
/CA2-Documentation/build/
/CA2-Documentation/dist/